################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#/packages
/Blog/bin
/Blog/obj/Debug
/Documentation/~$st_Scenarios_and_Test_Cases-Blog.doc
/Blog.UI.Tests/DataDrivenTests/~$UserData.xlsx
